<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="partial.css">
    <title>Client-error</title>
    <style>
        .err-emoji{
        font-size: 150px;
        text-align: center;
        }

        h2{
        font-size: 80px;
        text-align: center;
        } 
           
        .btn{
            padding: 8px;
            font-size: 15px;
            font-family: cursive;
            border-radius: 20px;
            font-weight: bold;
            border: 3px solid red;
            background-color: white;
            color: red;
        }

        .btn:hover{
            background-color: red;
            color: white;
        }

    </style>
</head>
<body>
    <h1 class="err-emoji">&#128531</h1>
    <h2>404 Page Not Found!!!!</h2>
    <button class="btn"><a href="/" style="text-decoration: none;">Back</a></button>
</body>
</html>