<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://localhost:5000/socket.io/socket.io.js"></script>
    <title>Document</title>
    <style>
        .payment{
            display: flex;
            justify-content: space-around;
            width:auto;
            height: auto;
        }
        .status{
            font-family: cursive;
            padding: 10px;
            background-color: dodgerblue;
            color:white;
        }
        a{
            font-family: cursive;
            font-size: 20px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <p id="address" style="display: none;">{{ID}}</p>
    <p style="text-transform: capitalize;">{{Name}}</p>
    <div id="box">

    </div>

    <a href="/orderQueue">Waiter End</a>
    <a href="/kitchen">Kitchen</a>
    <a href="/restaurantHome">Home</a>
    <a href="/logout">Log Out</a>

    <script>
        const socket = io("http://localhost:5000");
        var address = document.getElementById('address').innerText;
        var box = document.getElementById('box');
        var allpayment = {};

        socket.emit('previousPayment', address);
        socket.on('pendingPayment', order=>{
            if(Array.isArray(order)){
                for(index in order){
                    allpayment[order[index].id] = order[index];
                    showTable(order[index]);
                }   
            }
            else{
                allpayment[order.id] = order;
                showTable(order);
            }
        })

        socket.on('refreshPayment', obj=>{
            console.log('hello');
            document.getElementById(obj.id+'t').remove();
            delete allpayment[obj.id];
            //location.reload();
        })

        function showTable(order){
            let Table = document.createElement('div');
            let Tableno = document.createElement('p');
            let customer = document.createElement('p');
            let totalprice = document.createElement('p');
            let btn = document.createElement('button');
            let status = document.createElement('p');
            Table.id = order.id+'t';
            Tableno.innerText = 'Table no: ' + order.tableNo;
            customer.innerText = order.Name;
            status.innerText = 'Due';
            totalprice.innerText = 'Total price: ' + order.price;
            status.classList.add('status');
            btn.innerText = 'Payment cleared?';
            btn.id = order.id;
            for(obj of order.list){
                let para = document.createElement('p');
                para.innerText = `Name: ${obj.fname}- Quantity: ${obj.fquantity}`;
                Table.append(para);
            }
            btn.addEventListener('click', (event)=>{
                let id = event.target.id;
                socket.emit('clearpayment', allpayment[id], address);
                document.getElementById(id+'t').remove();
                console.log(allpayment[id]);
                delete allpayment[id];
            })
            Table.append(Tableno);
            Table.append(totalprice);
            Table.append(customer);
            Table.append(status);
            Table.append(btn);
            box.append(Table);
        }
    </script>
</body>
</html>